
/*
    header color: #94A3B8
    bg color: #CBD5E1
    div color: #FFFFFF

*/

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

h1{
    font-size:1.5rem;
    color: white;
}

h2{ font-size:2rem; }
h3{ font-size:1.25rem; }

header{
    margin-top: 0;
    height: 72px;
    background-color: #94A3B8;
}

body {
  background-color: #CBD5E1;
  margin: 0;
}

main{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu{
    text-align: center;
}

header{
    display: flex;
}

header ul{
    margin: 0;
    list-style: none;
}

header li{
    display: inline;
}

#menu a{
    color:#99F6E4;
    text-decoration: none;
    padding: 15px 30px;
}

#menu a:hover{
    background-color: #7c899c;
}


.service, #contact-container{
    background-color: #FFFFFF;
}

