
*{
    box-sizing: border-box;
}

/*fonts*/
html{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*sections h-text*/
h1{
    font-size:1.5rem;
    color: white;
}
h2{ font-size:2rem; }
h3{ font-size:1.25rem; }

/*main grid*/
body{
  margin: 0;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 1fr 11fr;
  background-color: #CBD5E1;
}

#head{
    background-color: #94A3B8;
    grid-column: 1/-1;
    grid-row: 1/1;
}

main{
  background-color: #CBD5E1;
  grid-column: 1/1;
  grid-row: 2/2;
}

#image{
  background: linear-gradient(180deg, rgba(78, 139, 219, 1) 0%, rgba(24, 131, 51, 1) 40%, rgba(101, 186, 58, 1) 100%);
  grid-column: 2/2;
  grid-row: 2/2;
}

/*header*/
#head{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}

#left-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#menu, #signin-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    list-style: none;
}

#menu a{
    color:#99F6E4;
    padding: 20px;
}

#menu a:hover{
    background-color: #7c899c;
}

header a{
    text-decoration: none;
}

/*buttons*/
#signin a{
    background-color: #F1F5F9;
    color: #0F172A;
    padding: 8px;
    border-radius: 6px;
}

#signin a:hover{
    background-color: #ced1d3;
}


#login a{
    background-color: #0F172A;
    color: #ced1d3;
    padding: 9px;
    border-radius: 6px;
}

#login a:hover{
    background-color: #3f4757;
}

/*main*/
#content{
    margin: 35px;
}

/*services*/
#service-container{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.service{
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    flex: 1 0 40%;
}

.service p{
    color: gray;
}

/*contacts*/
#contact-container{
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.contact{
    flex: 1 0 35%;
}

#contact-container p{
    color: gray;
}

/*aside*/
aside{
    margin: 50px;
    color: white;
    border-radius: 10px;
    padding: 75px;
}

#image h2{
    font-size: 1.2rem;
}

/*responsiveness*/
@media (max-width:768px) {
    main{
        margin-top: 0px;
    }
    
    body{
        margin-top: 0px;
        display: block;
    }

    #head{
        margin-top: 0px;
        min-height: 120px;
        padding: 15px;
        display: block;
    }

    #left-bar{
        display: block;
        margin: 5px;
    }

    #left-bar h1{
        text-align: center;
    }

    #left-bar img{
        float: left;
    }

    #signin-buttons{
        margin: 5px;
    }

    #menu a{
        padding: 5px;
    }
}